.candidate-areas {
  height: 80px;
  max-height: 80px;
  width: 100%;
  background-color: #2980b9;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding: 10;
  white-space: nowrap;
}

.area {
  display: inline-block;
  width: 50%;
  min-width: 200px;
  height: 100%;
  line-height: 1.5em;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  opacity: .35;
}

.area.area-main {
  opacity: 1;
}

.area a {
  color: white;
}

.candidate-filters {
  background-color: #66b1e4;
  height: 40px;
  width: 100%;
  overflow: auto;
  color: white;
  margin: 0;
  padding: 10;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.filter {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  margin: 0 25px;
}

.filter a {
  color: white;
  text-decoration: none;
}

.filter a:hover {
  color: #ddd;
  text-decoration: none;
}

.col-4 {
  text-align: center;

  .candidate-image {
    display: inline-block;
  }
}

.candidate-show {

  text-align: center;
  
  a {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
  }

  .candidate-inner-wrapper {
    position: relative;
    display: inline-block;

    img {
      max-height: 250px;
      max-width: 250px;
      height: auto;
      width: 100%;
    }

    .image-wrapper {
    }
    .name-wrapper {
      width:100%;
      background-color: #000;
      opacity:0.9;
      display:inline-block;
      position:absolute;
      bottom:0px;
      right:0;
      color: #fff;
      max-height: 250px;

      .inner-name {
        padding-left: 10px;
      }

      .political-party.col-4 {
        margin: 0;
        padding:0;
      }

      .political-party-abbreviation {
        padding-top: 20px;
        padding-right: 5px;
        opacity: .5;
        font-size: 0.9em;
      }

      .category-color {
        height: 10px;
        bottom:0;
        margin:0;
        padding:0;
      }
    }
  }
}

footer {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  width: 100%;
  height: 60px;

  .disclaimer {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  margin: 30px auto;
}

.submit-btn {
  text-align: center;
}

.quill-toolbar {
  border: 1px solid #e5e5e5;
  margin: 5px auto;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
}
.quill-editor {
  margin: 5px auto;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
  border: 1px solid #e5e5e5;
  height: 300px;
}

.js-toolbar {
  border: 1px solid #e5e5e5;
  margin: 5px auto;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
}

fieldset {
  border: none;
  margin: 10px;
}

.js-editor {
  margin: 5px auto;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
  border: 1px solid #e5e5e5;
  height: 300px;
}

.edit-button {
  padding: 10px;
}

.page-modifiers {
  max-height: 200px;
  overflow: auto;
  box-shadow: 3px 3px 5px #fff inset;
}

.static-page-content p {
  position: relative;
  word-break: break-all;
}

.candidate {
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 10px;
}

.candidate-image {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: 100%;
  position: relative;
}

.candidate-line {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.color-line {
  width: 2%;
  height: 100%;
  float: left;
}

.inner-candidate-open-wrapper {
  width: 98%;
  height: 100%;
  float: left;
}

.left-wrapper {
  text-align: center;
}

.open-image-wrapper {
  height: 100%;
  margin-top: 50px;
  display: inline-block;
}

.open-info-wrapper {
  height: 100%;
}

.open-img {
  max-height: 250px;
}

.open-candidate-name {
  text-align: left;
  font-size: 1.5em;
  color: white;
  margin-left: 5px;
}

.open-candidate-filter {
  text-align: left;
  font-size: 0.9em;
  color: #C3C3C3;
  margin-left: 5px;
  margin-top: 5px;
}
.open-info-wrapper.col-10.row {
  margin-top: 0;
}

.open-info-wrapper h3 {
  color: #C3C3C3;
}

.open-info-wrapper h4 {
  color: #C3C3C3;
}

.open-info-wrapper strong {
  color: #dddddd;
}

.open-info-wrapper p {
  color: white;
}

.preview-fullimg.open-image-wrapper.col-12 {
  max-height: 250px;
}

.open-info-wrapper.col-10.row {
  overflow: auto;
}

li.candidate-show.col-3 {
  padding-bottom: 0;
}

.color-addon {
  height: 20px;
  margin: 10px 0;
}

.el-inner {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}

.logo-img {
  padding: 7px;
}

@import "quill.snow";
@import "spectrum";
@import "font-awesome";
@import "furatto_overrides";
