.preview-grid li.preview-expanded>a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #222;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}
.preview-expander {
    position: absolute;
    background: #222;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}
.preview-expander-inner {
    padding: 50px 30px;
    height: 100%}
.preview-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 3%;
    cursor: pointer;
}
.preview-close::before, .preview-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.preview-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.preview-close:hover::before, .preview-close:hover::after {
    background: #d6d6d6;
}
.preview-fullimg, .preview-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.preview-details {
    padding: 0 40px 0 20px;
}
.preview-fullimg {
    text-align: center;
}
.preview-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%}
.preview-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}
.preview-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}
.preview-details a {
    font-weight: 700;
    font-size: 16px;
    color: #d6d6d6;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #d6d6d6;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}
.preview-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}
.preview-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ccc,  -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}
@-webkit-keyframes loader {
    0% {
    background: #ddd;
}
33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ccc,  -15px 30px 1px #ddd;
}
66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ddd,  -15px 30px 1px #ccc;
}
}@-moz-keyframes loader {
    0% {
    background: #ddd;
}
33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ccc,  -15px 30px 1px #ddd;
}
66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ddd,  -15px 30px 1px #ccc;
}
}@keyframes loader {
    0% {
    background: #ddd;
}
33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ccc,  -15px 30px 1px #ddd;
}
66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc,  15px 30px 1px #ddd,  -15px 30px 1px #ccc;
}
}@media screen and (max-width: 830px) {
    .preview-expander h3 {
    font-size: 32px;
}
.preview-expander p {
    font-size: 13px;
}
.preview-expander a {
    font-size: 12px;
}
}@media screen and (max-width: 650px) {
    .preview-fullimg {
    display: none;
}
.preview-details {
    float: none;
    width: 100%}
}
